<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.bono.mapper.MemberMapper">


	<resultMap type = "com.bono.domain.MemberVO" id = "memberMap">
		<id property = "userId" column = "userId"/>
		<result property = "userId" column = "userid"/>
		<result property = "userPw" column = "userpw"/>
		<result property = "userName" column = "username"/>
		<result property="address" column= "address" />
        <result property="phone" column= "phone" />
        <result property="email" column= "email" />
        <result property="gender" column="gender" />
		<result property = "enabled" column = "enabled" />
		<result property = "regDate" column = "regdate"/>
		<result property = "updateDate" column = "updatedate"/>
		<collection property = "authList" resultMap = "authMap"/>
	</resultMap>
	
	<resultMap type = "com.bono.domain.AuthVO" id = "authMap">
		<result property = "userId" column = "userid"/>
		<result property = "auth"	column = "auth" />
	</resultMap>
	
	    <!-- 로그인 정보 -->
    <select id="read" resultMap="memberMap">
        select mem.userid, userpw, username, address, phone, email, gender, enabled, regdate, updatedate, auth
        from tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
        where mem.userid = #{userId}
    </select>
    
    <!-- 회원가입 -->
    <insert id="insert">
    	insert into tbl_member(userid, userpw, username, address, phone, email, gender, enabled)
    	values (#{userId}, #{userPw}, #{userName}, #{address}, #{phone}, #{email}, #{gender}, 1)
    </insert>
    
    <!-- 회원 가입시 주어지는 권한 -->
    <insert id="insertAuth">
    	insert into board.tbl_member_auth(userid, auth)
    	values (#{userId}, "ROLE_USER")
    </insert>
    
     <!-- 회원정보수정 -->
    <update id="update">
    	update tbl_member
		set
		userPw= #{userPw}, 
		address = #{address},
		phone = #{phone},
		email= #{email},
		updatedate = now()
		where userId = #{userId}
    </update>
</mapper>