/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    
*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none;}

/*기존1*/
#admin_modal{
    width:100%; 
    position: fixed; 
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index:100;
    height:100%;
    display:none;}

/*추가*/
.button{width:82px; height:38px; border-radius:5px; border-style:none; cursor: pointer; font-size:0.90em;}
.btn-submit{background-color:#0B5ED7; color:white;}

/*기존2*/
.admin-top{width:200px; margin:15px auto; height: 38px; position: relative; }
.admin-bottom{width:100%; height:auto; overflow: hidden;}
.admin-head{width:100%; padding:12px 0 25px 21px; border-bottom:3px solid black; box-sizing: border-box; margin-bottom:60px; font-size:2em; font-weight:bold;}
.admin-area{width:740px; height: 324px; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); background-color: white; font-family: 'Noto Sans KR', sans-serif;  border-radius:30px; z-index:2}
.form-group{width:100%; border-top:1px solid #D9D9D9; }
.form-group dl{height:auto; overflow:hidden; margin-bottom:0;}
.form-group dl dt, .form-group dl dd{padding-top:20px; box-sizing: border-box; }
.form-group dl dt{width:20%; height:70px; float:left; background-color: #F8F8F8; text-align: center; font-weight:bold; font-size:1em;}
.form-group dl dd{width:80%; height:70px; float:left; background-color: white; padding-left:20px; margin-bottom:0;}
